* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}
::-webkit-scrollbar {
	display: none;
}

/*** Header Styles ***/
header{
	min-height: 100vh;
}

/*** Navigation Styles ***/
nav{
	flex:0 0 auto;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.logo{
	height: 65px;
	width: 70px;
}
nav ul{
	list-style-type: none;
	display: none;
}
nav ul a{
	display: block;
	background-color: rgba(31, 31, 42, 0.79);
	padding: 20px;
	font-size:1.5em;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255, 216, 0);
	transition: color 1s ease, background 1s ease, padding 1s ease;
}

nav ul a:hover{
	background-color: rgba(203, 203, 203, 0.88);
	color: rgb(71, 0, 168);
	padding: 20px;
}
.nav-container img{
	width: 100%;
	align-self: center;
}
.nav-container{
	padding: 0 20px;
	background-color:rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: space-between;
}

.bar{
	width: 30px;
	height: 3px;
	margin: 7px;
	background-color: rgb(255, 226, 0);
}

.btn{
	padding: 2px;
	display: inline-block;
	border-radius: 10%;
	background-color: rgb(41, 41, 226);
	align-self: center;
}

/*** Banner Styles ***/
#banner{
	background: url(img/banner.JPG);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-text{
	background-color: rgba(255, 255, 255, 0.83);
	position: absolute;
	width: 50vw;
	padding: 10px;
	
}
.banner-text h2{
	font-weight: 600;
	font-size: 1.8em;
	text-align: center;
}
.banner-text p{
	padding: 2%;
	font-size: 0.95em;
	text-align: center;
}

/*** Sections Styles ***/
section{
	margin-top: 10vh;
	display: grid;
	grid-template-columns: 1fr;
}
#about{
	padding: 5px;
}
.about-card{
	background-color: rgb(172, 255, 249);
	margin: 5px;
	justify-items: center;
	text-align: center;
}
.ac1 {
	background: url(img/laurent-peignault-119950-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.ac2 {
	background: url(img/matheus-ferrero-159452-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.ac3 {
	background: url(img/easton-oliver-487629-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.ac4 {
	background: url(img/pexels-photo-326576.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.icon{
	font-size: 5em;
	margin: 10%;
}
#kurs{
	padding: 5px;
	background-color: rgb(255, 248, 220);
}
#kurs img{
	height: auto;
	width: 50vw;
}
#info img{
	height: auto;
	width: 40vw;
}
iframe{
	width: 95vw;
	height: 70vh;
}
footer img{
	height: 45px;
	width: auto;
}

@media screen and (min-width:560px){
	.nav-container{
		display: none;
	}
	nav ul{
		display: flex!important;
		flex-wrap: wrap;
		justify-content: center;
		background-color: pink;
	}
	nav ul a{
		background: transparent;
	}
	nav ul a:hover{
		background: transparent;
		padding-left: 20px;
	}
	#about{
		grid-template-columns: 1fr 1fr;
	}
	#kontakt{
		grid-template-columns: 1fr 1fr;	
	}
	iframe{
		width: 55vW;
	}
}